<h1 mat-dialog-title>Zutaten in Einkaufsliste</h1>
<mat-dialog-content>

    <div [class]="mobileQuery_900px.matches ? 'mobileLayout' : 'desktopLayout'">
        <div class="box" *ngIf="this.produkte.length > 0">
            <mat-card style="width: 100%; height: 100%;">
                <mat-card-header>
                    <mat-card-title>Zutaten</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <table
                        mat-table
                        [dataSource]="produkte"
                        style="width: 105%;"
                    >
                        <ng-container matColumnDef="Menge">
                            <th mat-header-cell *matHeaderCellDef> Menge </th>
                            <td mat-cell *matCellDef="let element"> {{element.menge + ' ' + element.einheit}} </td>
                        </ng-container>

                        <ng-container matColumnDef="produkt">
                            <th mat-header-cell *matHeaderCellDef> Bezeichnung </th>
                            <td mat-cell *matCellDef="let element"> {{element.produkt.bezeichnung}} </td>
                        </ng-container>

                        <ng-container matColumnDef="warning">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon
                                    *ngIf="problematicIngridients.includes(element.produkt.prodId)"
                                    matTooltip="Das Produkt ist bereits in der Einkaufsliste"
                                    color="warn"
                                >
                                    warning
                                </mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="zutatenDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: zutatenDisplayedColumns;"></tr>
                    </table>

                </mat-card-content>
                <mat-card-actions>
                    <button
                        *ngIf="einkaufsliste && !ingridientsAreInShoppinglist"
                        mat-stroked-button
                        color="primary"
                        style="width: 100%;"
                        (click)="placeIngridientToShoppingList()"
                    >
                        <mat-icon>arrow_forward_ios</mat-icon> In Einkaufsliste
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="box">
            <mat-card style="width: 100%; height: 100%;">
                <mat-card-header>
                    <mat-card-title>Einkaufsliste</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="fill">
                        <mat-label>Einkaufsliste</mat-label>
                        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" cdkFocusInitial>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.bezeichnung}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <app-einkaufsliste
                        *ngIf="einkaufsliste"
                        [hideProperties]="true"
                        [einkaufsliste]="einkaufsliste"
                        [productsToHighlight]="problematicIngridients"
                        (plsUpdate)="updateShoppingLists()">
                    </app-einkaufsliste>
                </mat-card-content>
                <mat-card-actions></mat-card-actions>
            </mat-card>

        </div>

    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" [mat-dialog-close]="false"
        *ngIf="(!ingridientsAreInShoppinglist) else Fertig"
    >Abbrechen</button>
    <ng-template #Fertig>
        <button *ngIf="this.produkte.length > 0; else fertig2" mat-stroked-button color="primary" [mat-dialog-close]="true">Fertig</button>

        <ng-template #fertig2>
            <button mat-flat-button color="primary" [mat-dialog-close]="true">Fertig</button>

        </ng-template>
    </ng-template>
</mat-dialog-actions>